body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #A6B9EB;

}
header {
    background-color: #2E447C;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
header img{
    width: 50px;
    float: right;
    margin: 10px 20px 10px 10px;
    padding: 0;
}
nav {
    padding-left: 30px;
    margin-right: auto;
    
}
nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    transition: background-color 0.3s, color 0.3s; 
}

nav a:hover{
    color: #bbceff;
}

.login-btn {
    float: right;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    margin-right: 20px;
    cursor: pointer;
}
.login-btn:hover {
    background-color: #45a049;
}

footer {
    background-color: #2E447C;
    color: #fff;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
}
footer img{
width: 30px;
height: 30px;
}
footer nav {
    display: flex;
    justify-content: space-between;
}
footer nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    
}
footer ol{
    font-size: 20px;
    padding: 10px;
    vertical-align:middle;
}

.polit p{
    opacity: 0.5;
    font-size: 20px;
}
.polit p:hover{
    opacity: 1;
}
footer p{
    opacity: 0.5;
    text-align: center;
    font-size: 14px;
}


.login-btn {
    background-color: #3F66CA;
    color: #fff;
    border: none; 
    padding: 10px 20px;
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
    text-decoration: none;
}

.login-btn:hover {
    background-color: #A6B9EB;
    color:#2E447C;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.znak-btn{
        background-color: #2E447C;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      
      .znak-btn:hover {
        background-color: #3F66CA;
      }

h3{
    margin: 0;
}
h4{
    margin: 10px 0px 10px 0px;
}

.welcome-block {
    background-color: #3F66CA;
    padding: 40px;
    text-align: center;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.welcome-block h1 {
    color: #ffffff;
}

.welcome-block p {
    color: #ffffff;
    line-height: 1.6;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);      
    }
}

.block {
    width: 98%; /* Занимает всю ширину страницы */
    height: 200px;
    margin: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Чтобы управлять переполнением блока */
}

.contentt {
    display: flex;
    align-items: center;
}

.contentt img {
    width: 200px; /* Фиксированная ширина картинки */
    height: auto;
    border-radius: 5px;
    margin-left: 5px;
}

.text {
    flex: 1; /* Растягивает текст на всю доступную ширину */
    padding: 20px;
}

.text h2 {
    margin-top: 0;
}

.text p {
    margin: 10px 0;
}

.text button {
    background-color: #3F66CA;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
}

.text button:hover {
    background-color: #A6B9EB;
    color:#2E447C;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

footer img{
    width: 20px;
    height: 20px;
}
.section-title {
    font-size: 36px;
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 10px;
    display: inline-block;
}

@media screen and (max-width: 1024px) {   /* Пример изменения размеров текста */
    body {
        font-size: 14px;
    }

    /* Пример скрытия некоторых элементов */
    .slide img {
        width: 70%;
        height: 500PX;
        border-radius: 15px;
    }

    /* Пример переупорядочивания элементов */
    .header {
        flex-direction: column;
    }

    /* Пример изменения размеров изображений */
    img {
        max-width: 100%;
        height: auto;
    }
    .giver{

        display: flex;
        max-height: 700px;
        font-size: 8px;
    }
}

@media screen and (max-width: 768px) {   /* Пример изменения размеров текста */
    body {
        font-size: 14px;
    }

    /* Пример скрытия некоторых элементов */
    .slide img {
        width: 70%;
        height: 300PX;
        border-radius: 15px;
    }
    
    .slide-btn img{
        width: 5px;
        height: 5px;
    }
    /* Пример переупорядочивания элементов */
    .header {
        flex-direction: column;
    }

    /* Пример изменения размеров изображений */
    img {
        max-width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 320px) {
    body {
        font-size: 14px;
    }

    /* Пример изменения размера текста для заголовков */
    h1 {
        font-size: 24px;
    }

    /* Пример скрытия некоторых элементов */
    .slider-container {
        display: none;
    }
    .block p{
        display: none;
    }
    .welcome-block{
        padding: 10px;
        margin: 10px;
    }
    .welcome-block p{
        display: none;
    }
    .welcome-block h1{
        font-size: 12px;
    }
    .giver{
        display: none;
    }
    /* Пример изменения размеров изображений */
    img {
        max-width: 100%;
        height: auto;
    }
    header{
        width: 320px;
    }
    header a{
        float: left;
        font-size: 10px;
    }
    .navigacia,.polit{
        display: none;
    }
    .login-btn{
        font-size: 8px;
        width: 25px;
        background-color: none;
        text-align: center;
    }
    header img{
        display: none;
    }
    .content p{
        opacity: 1;
        font-size: 16px;
        float: left;
    }
    .section-title H2{
        font-size: 6px;
    }
    .block{
        width: 90%;
    }
    .contentt img{
        width: 100px;
    }

}
